<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <!-- <link rel="preload" href="fonts/ptsans.woff2" as="font" crossorigin>
  <link rel="preload" href="fonts/ptsansbold.woff2" as="font" crossorigin> -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <title>Стартовый Шаблон</title>
  <link href="css/style.min.css" rel="stylesheet">
</head>
