<!-- Подложка под модальным окном -->
<!-- <div class="overlay js-overlay-modal"></div> -->
<!-- Модальные окна -->
<div class="modal js-modal" data-id="modal-feedback">
  <div class="modal__overlay js-overlay-modal"></div>
  <div class="modal__container auth">
    <button class="button modal__close js-modal-close" type="button" aria-label="Открыть/Закрыть"></button>
    <h2 class="modal__title">Оставить заявку</h2>
    <p class="modal__text">Пожалуйста, оставьте данные, и наш менеджер свяжется с Вами в ближайшее время</p>
    <form class="auth__form" action="https://echo.htmlacademy.ru/" method="post">
      <div class="auth__field-group">
        <label class="auth__label" for="auth-name">Ваше имя</label>
        <input class="auth__form-field" type="text" id="auth-name" name="auth-name" placeholder="Дмитрий" required>
        <span class="auth__message-error"></span>
      </div>
      <div class="auth__field-group">
        <label class="auth__label" for="auth-phone">Телефон</label>
        <!-- <input class="auth__form-field auth__form-field--imask" id="auth-phone" name="auth-phone" type="text" value="971" size="25"> -->
        <input class="auth__form-field auth__form-field--imask" id="auth-phone" name="auth-phone" type="text" placeholder="+" size="25">
        <!-- <div class="visually-hidden"> -->
        <!-- Служебная информация, для работоспособности маски -->
        <!-- <input type="radio" name="mode" id="is_world" value="world" checked> -->
        <!-- <input type="checkbox" id="phone_mask" checked> -->
        <!-- <textarea id="descr" name="mask-city" for="phone_mask">Маска ввода</textarea> -->
        <!-- </div> -->
        <span class="auth__message-error"></span>
      </div>
      <div class="auth__field-group">
        <label class="auth__label" for="auth-mail">Электронная почта</label>
        <input class="auth__form-field" type="email" id="auth-mail" name="auth-mail" placeholder="mail@gmail.com" required>
        <span class="auth__message-error"></span>
      </div>
      <button class="button auth__submit" type="submit">Оставить заявку</button>
    </form>
  </div>
</div>
